In [194]:
import pandas as pd

In [195]:
from sklearn.ensemble import RandomForestRegressor

In [196]:
test = pd.read_csv('train.csv')

In [197]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [198]:
test.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [199]:
test.shape

(1460, 81)

In [200]:
Y = test.pop('SalePrice')

In [201]:
Y

0       208500
1       181500
2       223500
3       140000
4       250000
5       143000
6       307000
7       200000
8       129900
9       118000
10      129500
11      345000
12      144000
13      279500
14      157000
15      132000
16      149000
17       90000
18      159000
19      139000
20      325300
21      139400
22      230000
23      129900
24      154000
25      256300
26      134800
27      306000
28      207500
29       68500
         ...
1430    192140
1431    143750
1432     64500
1433    186500
1434    160000
1435    174000
1436    120500
1437    394617
1438    149700
1439    197000
1440    191000
1441    149300
1442    310000
1443    121000
1444    179600
1445    129000
1446    157900
1447    240000
1448    112000
1449     92000
1450    136000
1451    287090
1452    145000
1453     84500
1454    185000
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [202]:
test["GarageQual"]

0        TA
1        TA
2        TA
3        TA
4        TA
5        TA
6        TA
7        TA
8        Fa
9        Gd
10       TA
11       TA
12       TA
13       TA
14       TA
15       TA
16       TA
17       TA
18       TA
19       TA
20       TA
21       TA
22       TA
23       TA
24       TA
25       TA
26       TA
27       TA
28       TA
29       Fa
       ...
1430     TA
1431     TA
1432     Fa
1433     TA
1434     TA
1435     TA
1436     TA
1437     TA
1438     TA
1439     TA
1440     TA
1441     TA
1442     TA
1443     Fa
1444     TA
1445     TA
1446     TA
1447     TA
1448     Fa
1449    NaN
1450    NaN
1451     TA
1452     TA
1453    NaN
1454     TA
1455     TA
1456     TA
1457     TA
1458     TA
1459     TA
Name: GarageQual, Length: 1460, dtype: object

In [203]:
regr = RandomForestRegressor(max_depth=2, random_state=0)

In [211]:
test["GarageQual"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6,-1 : -1}
test.GarageQual = [mapping[item] for item in test.GarageQual]

test["ExterQual"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
test.ExterQual = [mapping[item] for item in test.ExterQual]

test["ExterCond"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
test.ExterCond = [mapping[item] for item in test.ExterCond]

test["BsmtQual"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
test.BsmtQual = [mapping[item] for item in test.BsmtQual]

test["BsmtCond"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
test.BsmtCond = [mapping[item] for item in test.BsmtCond]

test["HeatingQC"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
test.HeatingQC = [mapping[item] for item in test.HeatingQC]

test["KitchenQual"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
test.KitchenQual = [mapping[item] for item in test.KitchenQual]

test["FireplaceQu"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
test.FireplaceQu = [mapping[item] for item in test.FireplaceQu]

test["PoolQC"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
test.PoolQC = [mapping[item] for item in test.PoolQC]

In [229]:
pred = ['1stFlrSF', 'LotArea', '2ndFlrSF', 'YearBuilt', 
                        'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd',"PoolQC",'FireplaceQu', 'KitchenQual', 'HeatingQC', 'BsmtCond' 
          , 'ExterCond', 'ExterQual', 'GarageQual']

newtest = test[pred]
newtest.head()
newtest.shape

(1460, 15)

In [219]:
regr.fit(newtest, Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [224]:
out = pd.read_csv('test.csv')

In [225]:
out["GarageQual"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6,-1 : -1}
out.GarageQual = [mapping[item] for item in out.GarageQual]

out["ExterQual"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
out.ExterQual = [mapping[item] for item in out.ExterQual]

out["ExterCond"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
out.ExterCond = [mapping[item] for item in out.ExterCond]

out["BsmtQual"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
out.BsmtQual = [mapping[item] for item in out.BsmtQual]

out["BsmtCond"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
out.BsmtCond = [mapping[item] for item in out.BsmtCond]

out["HeatingQC"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
out.HeatingQC = [mapping[item] for item in out.HeatingQC]

out["KitchenQual"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
out.KitchenQual = [mapping[item] for item in out.KitchenQual]

out["FireplaceQu"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
out.FireplaceQu = [mapping[item] for item in out.FireplaceQu]

out["PoolQC"].fillna(-1, inplace=True)
mapping = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 5, 'Po': 6, -1 : -1}
out.PoolQC = [mapping[item] for item in out.PoolQC]

In [231]:
pred = ['1stFlrSF', 'LotArea', '2ndFlrSF', 'YearBuilt', 
                        'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd',"PoolQC",'FireplaceQu', 'KitchenQual', 'HeatingQC', 'BsmtCond' 
          , 'ExterCond', 'ExterQual', 'GarageQual']
out = out[pred]

In [232]:
out.shape

(1459, 15)

In [233]:
pred = regr.predict(out)

In [234]:
pred.size

1459

In [235]:
submission = pd.DataFrame({"Id": oute["Id"], "SalePrice": pred})

In [236]:
submission.to_csv("kaggle.csv", index=False)

In [237]:
submission.shape

(1459, 2)

In [238]:
oute.shape

(1459, 80)